/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}
/******************************************
/* RESET STYLES
/*******************************************/
* {
     padding: 0;
     margin: 0;
}

button {
     background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/
/* SanFrancisco Font */
@font-face {
     font-family: SanFrancisco;
     src: url(fonts/SF-Pro-Display-Regular.otf) format('opentype');
     font-weight: normal;

     
}
/* SanFrancisco Bold Font */
@font-face {
     font-family: SanFranciscoBold;
     src: url(fonts/SF-Pro-Display-Bold.otf) format('opentype');
     font-weight: bold;

     
}


/* Menu Bar "Finder" text styling */
.menu-bar-left .menu-bar-text:nth-child(2) {
     font-family: SanFranciscoBold;
     font-weight: 600;
}



/******************************************
/* BASE STYLES
/*******************************************/

/* Body Styling */
body {
     height: 100vh;
     overflow: hidden;
     background-position: center ;
     background-image: url(/images/Sequoia-Sunrise.png);
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
}

/******************************************
/* MENU BAR
/*******************************************/

/* Nav Styling */
nav {
     display: flex;
     justify-content: space-between;
     background: linear-gradient(90deg, rgba(71,74,56,1) 0%, rgba(66,67,61,1) 52%);
     padding: 0 20px;
     font-family: SanFrancisco;
     color: white;
     width: 100%;
     font-size: 0.85rem;
     text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
     height: 37px;
}

/* Menu Bar Left Styling */
.menu-bar-left {
     display: flex;
     align-items: center;
     gap: 25px;
}

/* Click To Reset Button Styling */
.clickToReset {
     color: rgb(255, 246, 145);
     height: 100%;
     display: flex;
     align-items: center;
     padding:  0 10px;
     transform: translateX(-10px);
}


/* Menu Bar Right Styling */
.menu-bar-right {
     display: flex;
     align-items: center;
     gap: 20px; 
}



/* Menu Apple Logo Styling */
.menu-bar-logos {
     width: 17px;
     height: 17px;
}


/******************************************
/* MAIN
/*******************************************/

/* Main Styling */
main {
     height: 100vh;
     width: 100vw;
     position: relative;
     padding-bottom: 5px;
     overflow: hidden;
}

/******************************************
/* MAC FOLDERS
/*******************************************/

/* Mac Folder Wrapper Styling */
.mac-folder-wrapper {
     display: flex;
     justify-content: end;
     padding-right: 20px;
     gap: 30px;
     position: absolute;
     top: 70px;
     right: 0px;
}
/* Mac Folder Icon Wrapper Styling */
.mac-folder-icon-wrapper {
     display: flex;
     
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 5px;
     color: white;
}

/* Folder Icon Styling */
.folder-icon {
     width: 70px;
}

/* Mac Folder Text(span) Styling */
.mac-folder-icon-wrapper span {
     font-family: SanFranciscoBold;
     font-size: 0.75rem;
     word-spacing: 0.06rem;
     letter-spacing: 0.05rem;
}


/******************************************
/* CALCULATOR
/*******************************************/
/* Click To Drag Message Styling */
.clickToDragMessage {
     width: 100%;
     padding: 9px 0;
     border-radius: 17px 17px 0 0;
     font-family: SanFranciscoBold;
     font-size: 0.8rem;
     color: white;
     position: absolute;
     top: 0;
     left: 50%;
     transform: translateX(-50%);
     background: #4a4a4ac3;
     text-align: center;

}

/* Calculator Main Wrapper Styling */
.calculatorMainWrapper {
     width: 250px;
     height: 446px;
     padding: 11px;
     border-radius: 17px;
     box-shadow: 0px 0px 50px 0px rgba(0,0,0,1);
     border: 1px solid #707378;
     background: rgba(33, 33, 33, 0.87); 
     backdrop-filter: blur(20px) brightness(1.1);
     -webkit-backdrop-filter: blur(20px) brightness(1.1); /* Safari support */
     outline: 1.5px solid rgb(0, 0, 0); 
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     position: absolute;
     top: 230px;
     left: 50%;
     transform: translateX(-50%);

}

.calculatorMainWrapper:hover {
     cursor: default;
}


/* Calculator Top Wrapper Styling */
.calculator-top-wrapper  {
     display: flex;
     gap: 10px;
}

/* Calculator Resize Buttons General Styling */
.calculator-resize-button {
     width: 15px;
     height: 15px;
     border-radius: 50%;
}

/* Resize Button Red Styling */
.calculator-top-wrapper .calculator-resize-button:nth-child(1){
     background-color: #FE5F57;
}

/* Resize Button Yellow Styling */
.calculator-top-wrapper .calculator-resize-button:nth-child(2){
     background-color: #FDBB2E;
}

/* Resize Button Grey Styling */
.calculator-top-wrapper .calculator-resize-button:nth-child(3){
     background-color: #474745;
}

/* Calculator Bottom Wrapper Styling */
.calculatorBottomWrapper {
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 7px;
}

/* Calculator Result Window Styling */
.calculatorResultWindow {
     width: 100%;
     text-align: right;
     color: white;
     font-family: SanFrancisco;
     font-size: 2.5rem;
     overflow-x: auto;
     white-space: nowrap;
}

/* Calculator Result Window Styling */
.calculatorPreviousEquationWindow {
     width: 100%;
     text-align: right;
     color: #9F9F9F;
     font-family: SanFrancisco;
     font-size: 1.7rem;
     overflow-x: auto;
     white-space: nowrap;
}

/* Calculator Bottom Wrapper Styling */
.calculator-keypad-wrapper {
     display: flex;
     flex-wrap: wrap;
}

/* Calculator Keypad Button Styling */
.calculator-keypad-wrapper button , .github-logo {
     width: 25%;
     aspect-ratio: 1/1;
     justify-self: center;
     align-self: center;
}

/* Calculator Inner Wrapper Keypad Styling */
button div , a .git-logo-btn-wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.3rem;
     font-family: SanFrancisco;
     color: white;
     border-radius: 50%;
     width: 100%;
     aspect-ratio: 1 / 1;
}

/* Calculator Keypad Numbers Styling */
.number div , a .git-logo-btn-wrapper {
     background-color: #52524E;
}

/* Calculator Keypad Top 3 Styling */
.light-grey-calculator-btn div {
     background-color: #70706E;
}

#backspaceImage {
     display: none;
     width: 55%;
     aspect-ratio: 1 / 1;
}

/* Calculator Keypad Operators Styling */
.operator div {
     background-color: #FF9500;
}

/* Calculator Keypad Numbers Styling */
.number , .light-grey-calculator-btn , .operator , .github-logo {
     padding: 3px;
}

/* Calculator Keypad GitHub Button Styling */
.github-logo {
     display: flex;
     justify-content: center;
     align-items: center;
}

a:hover {
     cursor: pointer;
}

/* Calculator Keypad GitHub Button Image Styling */
.github-logo img {
     width: 20px;
}

/* Make Button and Links Relative Positioned */
button , a {
     position: relative;
}

/* Calculator Keypad Button Hover Filter Styling */
button div:nth-child(1).btnFilter , .github-logo .btnFilter {
     opacity: 1;
     /* opacity: 0.4; */
     content: "";
     position: absolute;
     bottom: 3px;
     width: calc(100% - 6px);
     height: calc(100% - 6px);
     border-radius: 50%;
     background: rgba(255, 255, 255, 0.54); 
     pointer-events: none; /* Allows clicks on content under the overlay */
     border: none;
 }

/******************************************
/* MAC DOCK
/*******************************************/

/* Mac dock wrapper styling */
.mac-dock-wrapper {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: 5px;
     display: flex;
     align-self: center;
     background: rgba(45, 45, 45, 0.263);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(9.5px);
     -webkit-backdrop-filter: blur(9.5px);
     border: 1px solid rgba(255, 255, 255, 0.3);
     color: white;
     font-size: 3rem;
     padding: 4px 6px 4px 6px;
     gap: 10px;
}

/* Mac dock icon wrapper styling */
.mac-doc-icon-wrapper {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 5px;
}

/* Mac dock icon wrapper align to top */
.mac-dock-wrapper .mac-doc-icon-wrapper:nth-child(2), .mac-dock-wrapper .mac-doc-icon-wrapper:nth-child(3),.mac-dock-wrapper .mac-doc-icon-wrapper:nth-child(6) {
     justify-content: start;
}

/* Spotify icon styling */
.mac-dock-wrapper .mac-doc-icon-wrapper:nth-child(6) {
     border-right: #46483D solid 1.5px;
     border-radius: 1px;
     padding-right: 10px;
     height: 65px;

}

/* Dock icon styling */
.dock-icon {
     width: 60px;
}

/* Mac dock dot styling */
.mac-dock-dot {
     width: 5px;
     height: 5px;
     border: rgb(179, 179, 179) solid 2px;
     border-radius: 50%;
     background-color:rgb(179, 179, 179);
}



/******************************************
/* MAC DOCK
/*******************************************/
